// Universal Styles
* {
  font-family: "Futura", "Trebuchet MS", "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

a {
  color: #1f2937;
}

a:hover {
  color: #3b82f6;
}

h1 {
  color: #1f2937;
}

p {
  color: #1f2937;
}

button {
  background-color: #3b82f6;
}

button:hover {
  background-color: #2676f6;
}

// Custom Styles
.box-component {
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 2px solid rgb(245, 245, 245);
}

// NavBar
.navbar {
  background-color: #f9fafb;
}

.navbar-brand {
  font-size: 2rem;
}

// Footer
footer {
  background-color: #f9fafb;

  p {
    color: #1f2937;
  }
}
